.cursos-container {
  width: 80%; 
  max-width: 800px; 
  margin: 20px auto; 
  padding: 40px;
  background-color: #28292b; 
  color: #ecf0f1; 
  border-radius: 10px; 
  box-shadow: 15px 15px 10px rgba(19, 16, 16, 0.3); 
  min-height: 300px;
}

.cursos-content {
  width: 100%; 
}

.cursos-content h2 {
  font-size: 2.4rem;
  margin-bottom: 30px;
  color: #ecf0f1;
}

.cursos-content ul {
  list-style-type: none; 
  padding: 0;
  font-size: 1.2rem;
  color: #bdc3c7; 
}

.cursos-content ul li {
  margin-bottom: 10px;
  color: #bdc3c7;
  font-size: 1rem;
}

.cursos-content ul li strong {
  margin-bottom: 10px;
  color: #ecf0f1;
  font-size: 1.2rem;
}